{% extends 'base.html' %}


{% block content %}

<main>
    <div>
        <h1>Create Account</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
        <button>Create</button>
    </div>
</main>

{% endblock content %}